#__next {
  height: 100%;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  min-width: var(--width-min);
  width: 100vw;
  line-height: 1;
  font-size: 16px;
  background-color: var(--color-background);
  color: var(--color-main);
  @media screen and (max-width: 1160px) {
    font-size: 12px;
  }
  height: 100vh;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.locked {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

main {
  flex: 1 1 auto;
  margin: 0 20px;
  padding: 0 var(--padding-container);
  @media screen and (max-width: 1160px) {
    margin-bottom: 60px; //footer
  }
}

.container {
  max-width: var(--width-container);
  box-sizing: content-box;
  margin: 0 auto;
}

.header {
  padding: 0 var(--padding-container);
  margin: 0 20px;
  z-index: 3;
}

.loader {
  width: 100%;
  height: 100%;
  background: linear-gradient(
                  to bottom right,
                  #0000 calc(50% - 80px),
                  #2a2849 50%,
                  #0000 calc(60% + 80px)
  ) bottom right/calc(200% + 160px) calc(200% + 160px) #1f1b2e;
  animation: loading 2s infinite;
}

@keyframes loading {
  100% {
    background-position: top left;
  }
}
