.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-input);
  color: var(--color-input-text);
  border-radius: 4px;
  height: 40px;
  position: relative;

  & label {
    position: absolute;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    left: 12px;
    font-weight: 700;
    opacity: 0.32;
    pointer-events: none;
    transition: var(--transition-main);
  }

  &__active {
    transform: translateY(8px);
  }

  &__active + label {
    transition: all 0.05s ease-in;
    transform: translateY(-10px);
    font-size: 14px;
  }

  & input {
    width: 100%;
    padding: 1px 12px;
    background-color: var(--color-input);
    border-radius: 4px;
    outline: 0;
    font-size: 15px;
    line-height: 150%;
    font-weight: 500;

    &:focus {
      transition: all 0.05s ease-in;
      transform: translateY(8px);
    }

    &:focus ~ label {
      transition: all 0.05s ease-in;
      transform: translateY(-10px);
      font-size: 14px;
    }
  }

  &__icon {
    cursor: pointer;
    margin: 0 5px;
    color: var(--color-input-text);
    opacity: 0.5;
    transition: var(--transition-main);

    &:hover {
      opacity: 1;
    }
  }
}

.body {
  width: 90vw;
  margin-top: 60px;
  max-width: 1000px;

  & h3 {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.presets {
  padding-top: 12px;
  transition-duration: 0.3s;
  width: 80%;

  .preset {
    margin-top: 8px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
  }

  .preset_inner {
    cursor: pointer;
    padding-bottom: 8px;
    padding-right: 40px;
    padding-top: 8px;
  }

  .link {
    box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
    transition-duration: 0.4s;

    &:hover {
      box-shadow: 0 0 0 #7e798f, inset 0 -1.5em 0 #7e798f;
    }
  }
}

.result {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 30px;
  text-align: start;
  justify-items: start;

  button {
    text-align: start;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    svg {
      fill: var(--color-accent);
      font-size: 15px;
      margin-bottom: 3px;
    }

    p {
      padding-left: 15px;
      margin-top: 0;
      line-height: inherit;
      max-width: 80%;
      display: block;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    p:hover {
      transition: 0.3s;
      color: var(--color-accent);
    }
  }
}

.not_found {
  color: var(--color-danger);
  opacity: 50%;
}
