.awards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.award {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
  gap: 10px;
}

.image_container {
  width: 100px;
  min-height: 200px;
  position: relative;
}
