.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
}

.title {
  cursor: pointer;
  width: fit-content;

  &:hover {
    text-decoration: 1px solid white underline;
  }
}

.carousel {
  margin-bottom: 30px;
}
