.arrow_container {
  &:hover {
    .arrow {
      opacity: 1;
    }
  }

  &:active {
    .arrow button {
      transform: scale(0.5);
      transition: var(--transition-main);
    }
  }

}

.arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  cursor: pointer;
  color: transparent;
  background: transparent;
  border: none;
  outline: none;
  opacity: 0.7;
  transition: var(--transition-main);
  z-index: 2;
  transform: translate(0, -50%);
  @media screen and (max-width: 1160px) {
    display: none;
  }

  button {
    height: 100%;
    width: 100%;
    padding: 0;
    transition: var(--transition-main);

    &:disabled {
      display: none;
    }

    &:active {
      transform: scale(0.5);
      transition: var(--transition-main);
    }
  }

  &.prev {
    left: -20px;
  }

  &.next {
    right: -20px;
  }
}
