.footer {
  padding: 0 10px;
  margin: 0 20px;
  color: color-mix(in srgb, var(--color-main) 90%, transparent);
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    border-top: 1px solid color-mix(in srgb, var(--color-main) 16%, transparent);
    border-bottom: 1px solid color-mix(in srgb, var(--color-main) 16%, transparent);
  }
}

.list {
  max-width: 310px;
  display: grid;
}

.link {
  margin-top: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-secondary);
  transition: var(--transition-main);

  &:hover {
    color: var(--color-main);
  }
}

.buttons_group {
  display: flex;
  gap: 12px;
  margin: 20px 0;
  flex-wrap: wrap;
  max-width: 200px;
}

.cert_link {
  background-image: linear-gradient(-45deg, #c447ff, var(--color-accent));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  transition: var(--time-main) all ease-in;
  position: relative;

  &:hover::before {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100%;
    left: 0;
    height: 1px;
    border-radius: 12px;
    background: linear-gradient(111.3deg, #c447ff 9.6%, var(--color-accent) 93.6%);
  }
}

.ask_link {
  transition: all var(--transition-main) ease-in;

  color: color-mix(in srgb, var(--color-main) 80%, black);

  &:hover {
    color: var(--color-main);
  }
}

.widget {
  width: 104px;
  height: 104px;
  border-radius: 20px;
  -webkit-box-pack: center;
  background: linear-gradient(180deg, #a869f0 0%, #a869f0 100%);
  box-shadow: 0 0 104px #a869f0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto 24px;

  svg {
    width: 56px;
    height: 56px;
    color: var(--color-main);
  }

  &:before {
    content: '';
    display: block;
    width: 70px;
    height: 8px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    transform: rotate(77grad);
    top: 49px;
    left: 20px;
    border: 3px solid #a869f0;
  }
}
.description {
  text-align: center;
  color: var(--color-secondary);
}

.footer_item {
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  svg {
    width: 20px;
    height: 20px;
  }
}

.button_text {
  gap: 4px;
  display: flex;
  color: rgba(var(--color-main), 0.72);
  flex-direction: column;
  line-height: 12px;
  font-weight: 500;
}

@media (max-width: 1160px) {
  .footer {
    display: none;
  }
}
