.footer {
  padding: 0 10px;
  margin: 0 20px;
  // border-top: 1px solid rgba(255, 255, 255, 0.16);
  color: rgba(var(--color-main), 0.48);

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: 1px solid rgba(var(--color-main), 0.16);
    border-bottom: 1px solid rgba(var(--color-main), 0.16);
  }
}

.list {
  max-width: 310px;
  display: grid;
}

.listTitle {
  display: block;
  color: var(--color-main);
  font-weight: 700;
  margin-bottom: 8px;
}

.link {
  margin-top: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-secondary);
  transition: var(--transition-main);

  &:hover {
    color: var(--color-main);
    cursor: pointer;
  }
}

.buttonsGroup {
  display: flex;
  gap: 12px;
  margin: 20px 0;
  flex-wrap: wrap;
  max-width: 200px;

  button {
    padding: 0;
  }
}

.button {
  width: 196px;
}

.certLink {
  background-image: linear-gradient(-45deg, #c447ff, var(--color-accent));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  transition: var(--time-main) all ease-in;
  position: relative;

  &::before {
    content: '';
  }

  &:hover {
    &::before {
      position: absolute;
      bottom: -1px;
      width: 100%;
      left: 0;
      height: 1px;
      border-radius: 12px;
      background: linear-gradient(111.3deg, #c447ff 9.6%, var(--color-accent) 93.6%);
    }
  }
}

.askLink {
  transition: all var(--transition-main) ease-in;

  color: color-mix(in srgb, var(--color-main) 80%, black);

  &:hover {
    color: var(--color-main);
  }
}

.widget {
  width: 104px;
  height: 104px;
  border-radius: 20px;
  -webkit-box-pack: center;
  background: linear-gradient(180deg, #a869f0 0%, #a869f0 100%);
  box-shadow: 0 0 104px #a869f0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto 24px;

  &:before {
    content: '';
    display: block;
    width: 70px;
    height: 8px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    transform: rotate(77grad);
    top: 49px;
    left: 20px;
    border: 3px solid #a869f0;
  }

  &__icon {
    width: 56px;
    height: 56px;
    color: var(--color-main);
  }

  &__descr {
    text-align: center;
    color: #a5a1b2;
  }
}

.footerItem {
  padding: 48px 0;
  display: grid;
  gap: 32px;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  button {
    padding: 0 12px;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  span {
    color: rgba(var(--color-main), 0.72);
    display: block;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
  }
}

@media (max-width: 1160px) {
  .footer {
    display: none;
  }
}
