@import '@/styles/variables.scss';

.sources_container {

}
.sources {
  display: flex;
  flex-direction: row;
}
.source_item {
  padding: 12px;
  &:hover p {
    color: white;
    transition: .8s ease-out;
  }
  .img {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 12px;
    img {
      border-radius: 12px;
    }
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}
