.comment_card {
  display: block;
  vertical-align: top;
  white-space: normal;
  max-width: calc(100vw / 4);
  @media screen and (max-width: 1160px) {
    max-width: calc(100vw / 3);
  }
  @media screen and (max-width: 880px) {
    max-width: calc(100vw / 2);
  }
  @media screen and (max-width: 390px) {
    max-width: calc(100vw / 1);
  }
  padding: 0 10px;

  .ugcTile {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &:hover {
      .ugcTile_inner {
        background-color: var(--color-card-background);
      }
    }

    &:active {
      .ugcTile_inner {
        background-color: #191524;
      }
    }

    &_vote {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 4;
      @media screen and (max-width: 1160px) {
        display: none;
      }
    }

    &_inner {
      background-color: var(--color-input-text);
      transition: background-color 0.4s, background-color 0.4s;
      box-sizing: border-box;
      padding: 20px 20px 52px;
      text-decoration: none;
      vertical-align: baseline;
    }

    &_author {
      color: var(--color-secondary);
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      margin-bottom: 8px;
      min-height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &_textBlock {
      -webkit-line-clamp: 2;
      font-size: 15px;
      font-weight: 400;
      height: 40px;
      margin-bottom: 20px;
      line-height: 22px;
      white-space: normal;
      -webkit-box-orient: vertical;
      color: #fff;
      display: block;
      display: -webkit-box;
      font-style: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_date {
      bottom: 20px;
      color: var(--color-secondary);
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      left: 20px;
      line-height: 16px;
      position: absolute;
    }
  }
}
