.watch {
  &__info {
    display: inline-block;
    grid-area: b;
    max-width: 45vw;
    @media screen and (max-width: 1160px) {
      max-width: 100vw;
    }
  }

  &__title {
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 0 12px;
    text-align: center;
    @media screen and (max-width: 1160px) {
      display: none;
    }
  }

  &__params {
    margin: 0 0 20px;
    text-align: center;
  }

  &__medallions {
    margin-bottom: 20px;
  }

  &__rating {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.info_list {
  padding: 0 12px;
  color: hsla(0, 0%, 100%, 0.8);
  overflow: hidden;
  text-align: center;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  .info_item {
    display: inline-block;
    font-size: 15px;
    margin: 0 0 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    vertical-align: top;

    &:not(:first-child):before {
      content: '';
      display: inline-block;
      width: 8px;
    }

    &.item_hasDot:not(:first-child):before {
      display: inline-block;
      background-color: hsla(0, 0%, 100%, 0.72);
      content: '';
      height: 2px;
      margin-bottom: 3px;
      margin-left: 6px;
      margin-right: 6px;
      text-align: center;
      width: 2px;
    }
  }

  a {
    color: hsla(0, 0%, 100%, 0.72);
    transition: var(--transition-main);
    text-transform: capitalize;

    &:hover:not(:active) {
      color: #fff;
    }
  }
}
