.p {
  margin: 0;
  color: #a5a1b2;
  text-align: inherit;
}

.S {
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.M {
  font-size: 1rem;
  line-height: 1rem;
}

.L {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.white {
  color: var(--color-main);
}

.gray-light {
  color: var(--color-input);
}

.gray {
  color: var(--color-gray-text);
}

.p {
}
