.title {
  h4 {
    border-width: 0 0 1px 0;
    border-color: color-mix(in srgb, var(--color-main) 56%, transparent);
    border-style: solid;
    display: inline;
    transition: var(--transition-main);
    &:hover {
      cursor: pointer;
      border-bottom-color: var(--color-main);
    }
  }
}
