.dropdown {
  background: #312b45;
  max-height: 60vh;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 16px 32px rgba(7, 5, 14, 0.4);
  padding: 16px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.list_container {
  margin-top: 5px;
  padding-top: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.32);

  ul {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: repeat(3, 1fr);

    &.one_lane {
      grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (max-width: 1120px) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
    }

    li {
      list-style: none;
      margin-top: 12px;
      width: 100%;

      label {
        position: relative;
        display: block;
        width: 100%;
      }

      .input_text {
        text-transform: capitalize;
        cursor: pointer;
        color: rgba(217, 215, 224, 0.8);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 140px;
      }

      input {
        display: none;
      }

      .checkbox {
        position: absolute;
        right: 0;
        top: -3px;
        width: 14px;
        height: 14px;
        color: #fff;
        opacity: 0;

        &_selected {
          position: relative;
          width: 16px;
          height: 16px;
          font-size: 16px;
          line-height: 16px;
          display: inline-block;

          svg {
            display: block;
          }
        }
      }

      &:hover {
        .input_text {
          color: rgb(217, 215, 224);
        }

        .checkbox {
          opacity: 0.32;
        }
      }
    }

    .checked {
      .checkbox {
        opacity: 1 !important;
      }

      .input_text {
        color: white !important;
      }
    }
  }
}
