.explanations {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  cursor: pointer;
}
.slider_container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
}

.slide {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  .reasons {
    touch-action: none;
    display: flex;
    height: 40px;
    width: 100%;
  }
  &.isActive {
    cursor: pointer;
    opacity: 1;
    position: relative;
    transition:
      transform 0.4s ease-out,
      opacity 0.4s ease-out;
  }

  img {
    height: 40px;
    opacity: 0.32;
  }
}

.content_block {
  display: flex;
  margin-left: 4px;
  margin-right: 4px;
  height: 40px;
  margin-top: 0;
  width: 100%;
  .content {
    align-self: center;
    color: #d9d7e0;
    text-align: center;
    max-height: 120px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    @media screen and (min-width: 600px) {
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.point_container {
  display: flex;
  margin-top: 20px;
}

.point {
  border-radius: 50%;
  height: 5px;
  width: 5px;
  &.isActive {
    background-color: #fff;
    transition: background-color 0.4s ease-out;
  }
  & + .point {
    margin-left: 12px;
  }
  &:not(.isActive) {
    background-color: hsla(0, 0%, 100%, 0.16);
    transition: background-color 0.4s ease-out;
  }
}
