.profile {
  &__title {
    margin-bottom: 24px;

    h3 {
      font-size: 26px;
    }
  }

  &__row {
    margin-top: 18px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  &__user {
    display: flex;
    flex-direction: column;
    width: 50px;
    margin-right: 10px;

    & span {
      text-align: center;
      margin-left: -2px;
      margin-top: 4px;
      font-size: 13px;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__item {
    margin-right: 5px;
    width: 45px;
    opacity: 0.5;
    align-items: center;
    transition: var(--transition-main);

    & img {
      width: 40px;
      height: 40px;
    }

    &:hover {
      opacity: 1;
    }

    span {
      width: 100%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__image {
    border-radius: 8px;
    cursor: pointer;

    &.no_image {
      width: 48px;
      aspect-ratio: 1;
      background-color: #28262f;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 80%;
        height: 80%;
      }
    }
  }
}
