.name {
  transition: all var(--time-main) ease-out;

  &:hover {
    color: white;

  }
}

.title {
  cursor: pointer;
  width: fit-content;
  margin-bottom: 20px;

  &:hover {
    text-decoration: 1px solid white underline;
  }
}


.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px 10px;
}
