.title {
  margin: 20px 0;

  h4 {
    border-bottom: 1px solid rgba(var(--color-main), 0.16);
    display: inline;
    transition: var(--transition-main);

    &:hover {
      cursor: pointer;
      border-bottom-color: var(--color-main);
    }
  }
}

.text_container {
  display: flex;
  @media screen and (min-width: 1120px) {
    margin-right: 15px;
  }

  p:hover {
    color: white;
    transition-duration: 0.8s;
    transition-delay: 0.1s;
    transition-property: color;
  }
}

.videos {
  padding: 0 12px;

  &_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (max-width: 1120px) {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }
}
