
.img {
  margin-right: 10px;
}

.link {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 10px;
  position: relative;
  width: fit-content;
  &:after {
    content: '';
    transition: all var(--time-main);
    height: 1px;
    opacity: 0;
    background-color: rgba(white, .6);
    bottom: -2px;
    width: 100%;
    position: absolute;
  }
  &:hover:after {
    opacity: 1;
  }
}
