.submenu:hover,
.submenu__body:hover,
.submenu__content {
  .submenu__body {
    transition: all 0.05s ease-out;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    filter: drop-shadow(0 20px 96px #12101b);
  }
}

.submenu {
  height: 100%;

  .submenu__body {
    @media screen and (max-width: 1160px) {
      display: none;
    }
  }

  &__button {
    width: 23px;
    height: 23px;
    margin-left: 15px;
    font-weight: 400;
    position: relative;
    z-index: 10;
    opacity: 0.5;
    cursor: pointer;

    & img {
      padding: 5px;
    }

    &:hover {
      opacity: 1;
    }

    &:hover ~ .submenu__body {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__buttonOutline {
    position: relative;
    z-index: 10;
    opacity: 0.5;
    border: 2px solid white;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    padding: 9px;
    cursor: pointer;
    transition: var(--transition-main);

    &:hover {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
      opacity: 1;
    }

    &:hover ~ .submenu__body {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__buttonUser {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    opacity: 0.9;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    object-fit: cover;
    transition: var(--transition-main);

    > img {
      padding: 5px;
      overflow: hidden;
      border-radius: 8px;
    }

    & img {
      padding: 0;
    }

    &:hover {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
      opacity: 1;
    }

    &:hover ~ .submenu__body {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__border {
    flex: 0 0 73px;
    display: block;
    width: 99%;
    border-bottom: 1px solid #ffffff;
    opacity: 0.3;
    z-index: 10;
  }

  &__content {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 112 !important;
  }

  &__body {
    position: absolute;
    top: 0;
    left: -1%;
    right: -1%;
    width: 102%;
    min-height: 3px;
    background-color: var(--color-submenu-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    touch-action: none;
    pointer-events: none;
    border-radius: 10px;
    z-index: 1;
    transition: all 0.3s ease-in;

    &:hover {
      opacity: 1;
      touch-action: auto;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__icon {
    opacity: 0.5;
    font-size: 5px;
    margin-bottom: 3px;
  }

  & p {
    opacity: 0.5;
  }
}
