.card {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  cursor: pointer;
  position: relative;
  padding: 15px 10px 10px;
  height: 100%;
  width: 100%;
  aspect-ratio: 13/21;
  max-height: 360px;
  &:hover {
    transform: scale(1.05) translateY(0);
    transition: var(--time-main) ease-in-out;
  }

  &:active {
    transition: var(--time-main) ease-in-out;
    transform: scale(0.95);
  }
}

.card_image {
  background-color: var(--color-input-text);
  border-radius: 8px 8px 0 0;
  position: relative;
  overflow: hidden;
  max-height: 360px;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.fade,
.fade_footer {
  height: 80%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.fade {
  height: 30%;
  background-image: linear-gradient(0deg, var(--color-background), rgba(16, 14, 25, 0));
}

.fade_footer {
  transition-duration: 0.4s;
  background-image: linear-gradient(0deg, var(--color-background), rgba(16, 14, 25, 0));
}

.logo {
  left: 0;
  bottom: 20%;
  position: absolute;
  right: 0;
  padding: 0 20px;
}

.logo_image {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.logo_title {
  text-align: center;
  display: flex;
  font-weight: 700;
  color: var(--color-input);
  min-height: 20px;
  justify-content: center;
}

.place_number {
  display: flex;
  bottom: 0;
  height: 66px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  transition-duration: 0.4s;
}
