.switcher_container {
  margin: 0 30px;
  @media (max-width: 600px) {
    margin: 0 10px;
  }
}
.switcher {
  cursor: pointer;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0;
  background-color: var(--color-submenu-background);
  transition: var(--transition-main);
  .switcher_item {
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }
  @media (max-width: 600px) {
    width: 100%;
    aspect-ratio: 1;
    padding: 0;
    height: 16px;
    .switcher_item {
      padding: 5px;
      height: 16px;
      font-size: 10px;
    }
  }
}
