.carousel {
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 20px;
}

.title {
  display: flex;
  margin-top: 15px;

  svg {
    min-width: 25px;
  }
}

.title_container {
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: 1px underline;
  }
}
