.drop {
  display: flex;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  margin-top: 0;
  position: relative;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  min-width: 20vw;
  z-index: 1;

  button {
  }
}

.drop_container {
  position: absolute;
  top: 36px;
  opacity: 0;
  pointer-events: none;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 12px;
  background-color: #1f1b2e;
  box-shadow: 0 20px 40px rgba(7, 5, 14, 0.4);
  overflow: hidden;
  z-index: 100;
  @media screen and (max-width: 600px) {
    right: 0;
  }

  &.opened {
    opacity: 1;
    pointer-events: auto;
  }
}

.dropdown {
  &__title {
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    color: #a5a1b2;
    padding: 0 16px 0 32px;
    cursor: default;
  }

  &__item {
    position: relative;
    background-color: transparent;
    opacity: 1;
    display: flex;
    justify-content: flex-start;
    padding: 12px 16px;
    font-size: 0;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;

    .stripe {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: #ea003d;
    }

    &.active {
      .dropdown__item__itemText {
        color: white;
      }
    }

    &:hover {
      background-color: #312b45;

      .dropdown__item__itemText {
        color: white;
      }
    }

    &__itemText {
      display: inline-block;
      vertical-align: top;
      font-size: 15px;
      padding: 0 16px;
      line-height: 20px;
      font-weight: 500;
      font-style: normal;
      color: rgba(white, 0.72);
      max-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }

    &.selected {
      color: white;
    }
  }
}

.head_title {
  overflow: hidden;
  white-space: pre-wrap;
  text-transform: capitalize;
}

.filters__icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  .icon {
    transform: scale(-1, 1);
    margin-right: 5px;
  }

  svg {
    margin-right: 5px;
    min-width: 15px;
  }
}
