.description {
  width: 75%;
  @media screen and (max-width: 968px) {
    width: 100%;
  }
  padding: 10px 0;

  h4 {
    padding-bottom: 20px;
  }

  p {
    margin-top: 3px;
    line-height: 20px;
  }

  .cut {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  display: inherit;

  .closed {
    display: none;
  }

  button {
    margin: 5px 0 0 0;
    padding: 0;
  }
}
