.title {
  color: var(--color-main);
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  transition: var(--transition-main);
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    color: rgba(var(--color-main), 0.72);
  }
}

.wrap {
  overflow: hidden;
}

.list {
  gap: 5px;
  display: flex;

  &__item {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-right: 24px;
    width: 256px;
  }

  &__title {
    color: var(--color-main);
    margin-bottom: 12px;
  }
}

.link {
  color: var(--color-main);
  opacity: 72%;
  display: block;
  font-weight: 400;
  transition: var(--transition-main);
  margin-bottom: 12px;
  line-height: 0.7rem;

  &:hover {
    opacity: 1;
    cursor: pointer;
    color: var(--color-main);
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  ul {
    margin: 0;
  }
}

@media (max-width: 1160px) {
  .list {
    flex-wrap: wrap;
  }
}
