.modal_body {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 0 15vw;

  .modal_inner {
  }

  .title {
    box-sizing: border-box;
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    margin-bottom: 16px;
  }

  .content {
    display: flex;
    justify-content: space-between;

    .desc {
      width: 60%;

      .info {
        color: #d9d7e0;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 24px;
      }
    }

    .poster {
      box-sizing: border-box;
      width: 14%;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;

      img {
        border-radius: 8px;
      }

      .text {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
}
