.dropdown {
  background: #312b45;
  max-height: 60vh;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 16px 32px rgba(7, 5, 14, 0.4);
  padding: 16px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.choose {
  width: 40vw;
  @media screen and (max-width: 879px) {
    width: 100%;
  }
}

.list_container {
  margin-top: 5px;
  padding-top: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.32);

  ul {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: repeat(3, 1fr);

    &.one_lane {
      grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (max-width: 1120px) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
    }

    li {
      list-style: none;
      margin-top: 12px;
      width: 100%;

      label {
        position: relative;
        display: block;
        width: 100%;
      }

      .input_text {
        text-transform: capitalize;
        cursor: pointer;
        color: rgba(217, 215, 224, 0.8);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 140px;
      }

      input {
        display: none;
      }

      .checkbox {
        position: absolute;
        right: 0;
        top: -3px;
        width: 14px;
        height: 14px;
        color: #fff;
        opacity: 0;

        &_selected {
          position: relative;
          width: 16px;
          height: 16px;
          font-size: 16px;
          line-height: 16px;
          display: inline-block;

          svg {
            display: block;
          }
        }
      }

      &:hover {
        .input_text {
          color: rgb(217, 215, 224);
        }

        .checkbox {
          opacity: 0.32;
        }
      }
    }

    .checked {
      .checkbox {
        opacity: 1 !important;
      }

      .input_text {
        color: white !important;
      }
    }
  }
}


.openers {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  @media screen and (max-width: 600px) {
    justify-content: space-between;
  }

  .filters__icon {
    display: flex;
    margin: 0 10px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    .open_filter:hover {
      transition: var(--transition-main);
      color: var(--color-accent);
    }

    svg {
      margin-right: 5px;
    }
  }
}

.filters {
  padding: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1f1b2e;
  border-radius: 6px;
  margin-bottom: 20px;
  transition: max-height 400ms ease,
  opacity 200ms ease,
  padding-top 400ms ease;

  .plank_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
  }

  .plank_item {
    position: relative;
    margin-bottom: 12px;
    padding-right: 6px;
    padding-left: 6px;
    width: calc(100% / 4);

    @media screen and (max-width: 879px) {
      width: 50%;
    }
    @media screen and (max-width: 599px) {
      width: 100%;
    }
  }

  .sausage_list {
    display: flex;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .sausage {
    margin: 12px 12px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .reset {
    user-select: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    cursor: pointer !important;

    &:disabled {
      opacity: 0.32;
      cursor: default !important;

      &:hover {
        background-color: transparent;
        border: 0;
        border-radius: 8px;
        color: var(--color-input);
      }
    }
  }
}
