.top_buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  gap: 0 10px;
  @media screen and (max-width: 600px) {
    justify-content: space-between;
  }

  .extend_button {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    position: relative;

    &:hover {
      .open_filter {
        transition: var(--transition-main);
        color: var(--color-accent);
      }
    }
  }
}

.icon {
  margin-right: 8px;
}

.active:after {
  content: '';
  display: block;
  position: absolute;
  box-shadow: 0 2px 8px rgba(var(--color-accent), 0.8);
  background-color: var(--color-accent);
  width: 6px;
  height: 6px;
  top: 0;
  left: 12%;
  border-radius: 50%;
}

.filters {
  padding: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--color-input-text);
  border-radius: 6px;
  margin-bottom: 20px;
  transition: all 200ms ease;

  .plank_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
  }

  .plank_item {
    position: relative;
    margin-bottom: 12px;
    padding-right: 6px;
    padding-left: 6px;
    width: calc(100% / 4);

    @media screen and (max-width: 879px) {
      width: calc(100% / 2);
    }
    @media screen and (max-width: 599px) {
      width: calc(100% / 1);
    }
  }

  .reset {
    user-select: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    cursor: pointer;
    transition: var(--time-main) all ease-in;

    &:hover {
      background-color: transparent;
      border: 0;
      border-radius: 8px;
      color: var(--color-accent);
    }

    &:disabled {
      opacity: 0.32;
      cursor: default !important;

      &:hover {
        background-color: transparent;
        border: 0;
        border-radius: 8px;
        color: var(--color-input);
      }
    }
  }
}
