.person_card {
  display: inline-flex;
  flex-direction: column;
  width: 56px;
  cursor: pointer;
  overflow: hidden;

  .card_name {
    text-align: center;
    margin-top: 8px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    height: 32px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: var(--color-secondary);
    transition-duration: 0.4s;
  }

  &:hover {
    transition-duration: 0.8s;
    transition-property: color;

    .card_name {
      color: white;
      will-change: color;
      -webkit-transition-property: color;
      -o-transition-property: color;
      transition-property: color;
    }

    .wrapCard {
      background-color: rgba(white, 0.24);
      color: white;
    }
  }
}

.wrapCard {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.16);
  transform: scale(1);
  transition-duration: 0.4s;

  div {
    width: 44px;
    height: 44px;
    font-size: 15px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
