.placeholder {
  width: auto;
  height: 360px;
  transition: var(--transition-main);
}

.not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50vh;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;

  margin-top: 20px;
  padding-bottom: 40px;
  padding-right: 32px;
  @media (max-width: 1160px) {
    padding: 0;
  }
}

.player {
  position: sticky;
  top: 20px;
  left: 0;
  width: 100%;
  @media (max-width: 1160px) {
    position: relative;
    top: 0;
  }

  &__container {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
}

.actions {
  display: flex;
  margin-top: 20px;
  gap: 20px;

  & button {
    padding: 0 10px;
    font-size: 1rem;
  }
}

.icon {
  width: 20px;
  height: 20px;
}
