.link {
  padding-left: 12px;
  padding-right: 12px;
  margin: 10px;

  &:hover {
    .name {
      color: var(--color-main);
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 10px;
}

.card {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  margin-bottom: 15px;

  .img {
    width: 120px;
    height: 120px;
    position: relative;

    img {
      object-fit: cover;
    }
  }

  @media (max-width: 600px) {
    width: 110px;
    height: 110px;
    .img {
      width: 110px;
      height: 110px;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}


