.container {
  margin: 20px 0;
}

.breadcrumbs {
  display: flex;
  text-transform: capitalize;
}

.primary {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  margin-right: 16px;

  & span {
    opacity: 0.5;
  }

  &::before {
    content: '/';
    position: absolute;
    left: -11px;
    color: gray;
  }

  &:first-child::before {
    content: none;
  }

  & a {
    position: relative;
    text-decoration: none;
    text-transform: capitalize;

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.3);

      transform-origin: left;
      transition: var(--transition-main);
    }

    &:hover::after {
      bottom: 0;
      height: 16px;
      transition: all 0.05s ease-in;
    }
  }
}

.movie {
  float: left;
  color: rgba(white, 0.56);
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;

  a {
    text-transform: capitalize;
    transition-duration: 0.4s;
    color: rgba(white, 0.72);
  }

  &:hover a {
    color: white;
  }

  &:first-child::before {
    content: none;
  }

  &:before {
    color: rgba(255, 255, 255, 0.56);
    display: inline-block;
    content: '';
    width: 2px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.56);
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 3px;
  }
}
