@import '@/styles/variables.scss';

.carousel {
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 20px;
  .title {
    display: flex;
    box-sizing: content-box;
    &_container {
      display: flex;
      align-items: center;
    }
    svg {
      min-width: 25px;
    }
  }
}
