.rating_block {
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 258px;
  width: 100%;
}

.rating_container {
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.08);

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.12);
  }

  border-radius: 12px;
  cursor: pointer;
  display: flex;
  padding: 10px;

  button {
    margin-left: auto;
    width: 72px;
    margin-right: 10px;
    border-radius: 6px;
    border-width: 1px;
    height: 24px;
    padding: 3px 7px;
    min-height: 0;
  }
}


.text_block {
  margin-left: 16px;

  .title {
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    color: #fff;
    font-weight: 500;
  }

  .subtitle {
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    color: hsla(0, 0%, 100%, 0.72);
    font-weight: 400;
    margin-top: 0;
    text-transform: capitalize;
  }

  .extra {
    color: hsla(0, 0%, 100%, 0.72);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px;
    text-transform: lowercase;
  }
}
