.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.body {
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  background-color: transparent;
}

.logo {
  margin-right: 10px;
  z-index: 10;
}

.menu {
  flex: 1 1 auto;
  @media (max-width: 1160px) {
    display: none;
  }
}

.actions {
  display: flex;
  align-items: center;
  button {
    z-index: 2;
  }
}
