.carousel {
  width: 300%;
  transform: translateX(calc(-100% / 3));
}

.actions {
  margin: 20px 0;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
