.obs {
  height: 1px;
  width: 1px;
}

.scroll_to_top {
  background: linear-gradient(180deg, rgba(17, 15, 26, 0), #110f1a 55.73%);
  bottom: calc(47px + env(safe-area-inset-bottom));
  left: 0;
  padding: 16px 24px;
  position: fixed;
  right: 0;
  display: none;

  @media screen and (min-width: 1160px) {
    display: none;
  }
  z-index: 9 !important;
  overflow: hidden;
  button {
    width: 100%;
  }
  &.shown {
    transform: translateY(0);
    transition: transform 80ms;
    @media screen and (max-width: 1160px) {
      display: block;
    }
  }
}
