.dropdown_out {
  width: 100%;
  user-select: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding-top: 4px;
  z-index: 99;
  overflow: hidden;

  * {
    z-index: inherit;
  }
}
