.rating_block {
  display: flex;
  width: 100%;
}

.rating_container {
  align-items: center;
  gap: 12px;
  background-color: hsla(0, 0%, 100%, 0.08);

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.12);
  }

  border-radius: 12px;
  cursor: pointer;
  display: flex;
  padding: 10px;

  button {
    max-width: 72px;
    border-radius: 6px;
    border-width: 1px;
    height: 24px;
    padding: 3px 7px;
    min-height: 0;
  }
}

.text_block {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .title {
    font-weight: 500;
  }

  .subtitle {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.72);
    text-transform: capitalize;
  }

  .extra {
    color: hsla(0, 0%, 100%, 0.72);
    font-size: 13px;
    text-transform: lowercase;
  }
}
