.user__content {
}

.content {
  &__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }

  &__actions {
    padding-right: 25px;
    flex: 1 1 auto;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 220px));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
  }

  &__auth {
    // flex: 0 0 340px;
    width: 33.33%;
    text-align: left;
    margin-left: 20px;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    @media (max-width: 1160px) {
      flex: 0 0 30%;
    }
  }

  &__profile {
    width: 100%;
  }

  &__nowrap {
    white-space: nowrap;
    padding: 0 30px;
    width: 100%;
    @media (max-width: 1160px) {
      padding: 0;
    }
  }

  &__links {
    align-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    & a,
    span {
      cursor: pointer;
      opacity: 0.5;
      text-align: left;
      transition: var(--transition-main);

      &:hover {
        opacity: 1;
      }
    }
  }
}
