.title {
  color: var(--color-main);
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  transition: var(--transition-main);
  cursor: pointer;
  svg {
    width: 20px;
    height: 20px;
  }
  &:hover {
    color: rgba(var(--color-main), 0.72);
  }
}

.wrap {
  overflow: hidden;
}

.list {
  display: flex;
  &__item {
    margin-top: 12px;
    margin-right: 24px;
    width: 256px;
  }
  &__title {
    color: var(--color-main);
    margin-bottom: 12px;
  }
  &__link {
    color: rgba(var(--color-main), 0.72);
    display: block;
    font-weight: 400;
    transition: var(--transition-main);
    margin-bottom: 12px;
    &:hover {
      cursor: pointer;
      color: var(--color-main);
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  ul {
    margin: 0;
  }
}

@media (max-width: 1160px) {
  .list {
    flex-wrap: wrap;
  }
}
