.modal {
  z-index: 1010 !important;
  position: fixed;
  background-color: rgba(7, 5, 14, 0.98);
  display: flex;
  justify-content: center;
}

.fullscreen {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.primary {
  top: 15%;
  left: 15%;
  width: 70vw;
  height: 70vh;
}

.cross {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  transition: var(--transition-main);

  &:hover {
    opacity: 1;
    animation: skew-animation 0.8s;
  }
}

.cross::before,
.cross::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2px;
  height: 20px;
  background-color: var(--color-main);
}

.cross::before {
  transform: rotate(45deg);
}

.cross::after {
  transform: rotate(-45deg);
}

@keyframes skew-animation {
  11.1% {
    -webkit-transform: none;
    transform: none;
  }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
