.card {
  display: flex;
  border-top: 1px solid var(--color-input-text);
  justify-content: space-between;
  align-items: center;
  height: (10vh);

  button {
    font-weight: 500;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;

  &_row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    p {
      margin-right: 12px;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }
}

.img {
  width: 80px;
  height: 120px;
  border-radius: 4px;
}
