
.comment {
  margin-top: 20px;
  position: relative;
  padding-left: 36px;
  list-style: none;

  .user_info {
    color: #a5a1b2;
    display: flex;
  }

  .item_cite {
    margin-right: 8px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item_date {
    margin-right: 12px;
    font-weight: 400;
  }

  .item_cite,
  .item_date {
    white-space: nowrap;
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
  }

  .interactions {
    display: flex;
    justify-content: space-between;

    button {
      color: var(--color-gray-text);
    }
  }

  .clause {
    padding-right: 104px;
    padding-left: 0;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: #d9d7e0;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;

    &_title p {
      white-space: pre-wrap;
      word-wrap: break-word;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      font-style: normal;
      margin: 15px 0;
    }

    &_text p {
      white-space: pre-wrap;
      margin-top: 0;
      word-wrap: break-word;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      font-style: normal;
    }
  }
}

.user_image {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;

  .image_container {
    border-radius: 4px;
    color: white;
    opacity: 1;
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20px;
    height: 20px;

    img {
      border-radius: 4px;
    }
  }

  .image_text {
    text-transform: capitalize;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    svg {
      stroke-width: 4px;
    }
  }
}

.comment_form {
  margin-top: 12px;
  margin-bottom: 32px;
  position: relative;
  justify-content: space-between;
  display: flex;
  padding-left: 36px;

  .input_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;

    .caption {
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
      font-style: normal;
      margin-top: 4px;
      color: #7e798f;
      display: none;
      -webkit-transition-property: color;
      -o-transition-property: color;
      transition-property: color;

      &.danger {
        color: #ff542e;
        display: block;
      }
    }
  }

  .input {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transform: translateZ(0);
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: var(--color-input);
    color: var(--color-input-text);
    height: 40px;
    @media screen and (max-width: 1160px) {
      font-size: 10px;
    }

    .stripe {
      background-color: rgba(31, 27, 46, 0.16);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      pointer-events: none;
    }

    &.invalid {
      background-color: #fff3f0 !important;
      color: var(--color-danger) !important;

      label {
        opacity: 1 !important;
      }

      input {
        background-color: #fff3f0 !important;
        color: var(--color-danger) !important;
      }

      .stripe {
        background-color: rgba(var(--color-danger), 0.16);
      }
    }

    & label {
      position: absolute;
      width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      left: 14px;
      font-weight: 700;
      opacity: 0.32;
      pointer-events: none;
      transition: var(--transition-main);
    }

    &__active {
      transform: translateY(8px);
    }

    &__active + label {
      transition: all 0.05s ease-in;
      transform: translateY(-10px);
      font-size: 14px;
    }

    & input {
      width: 100%;
      padding: 1px 1px;
      background-color: var(--color-input);
      border-radius: 4px;
      outline: 0;
      font-size: 15px;
      line-height: 150%;
      font-weight: 500;

      &:focus {
        transition: all var(--transition-main);
        transform: translateY(8px);
      }

      &:focus ~ label {
        transition: var(--transition-main);
        transform: translateY(-10px);
        font-size: 14px;
      }
    }

    &__icon {
      cursor: pointer;
      margin: 0 5px;
      color: var(--color-input-text);
      opacity: 0.5;
      transition: var(--transition-main);

      &:hover {
        opacity: 1;
      }
    }
  }
}
