.comment {
  margin-top: 20px;
  position: relative;
  padding-left: 36px;
  list-style: none;

  .user_info {
    color: #a5a1b2;
    display: flex;
  }

  .item_cite {
    margin-right: 8px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item_date {
    margin-right: 12px;
    font-weight: 400;
  }

  .item_cite,
  .item_date {
    white-space: nowrap;
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
  }

  .interactions {
    display: flex;
    justify-content: space-between;

    button {
      color: var(--color-gray-text);
    }
  }

  .clause {
    padding-right: 104px;
    padding-left: 0;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: #d9d7e0;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;

    &_title p {
      white-space: pre-wrap;
      word-wrap: break-word;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      font-style: normal;
      margin: 15px 0;
    }

    &_text p {
      white-space: pre-wrap;
      margin-top: 0;
      word-wrap: break-word;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      font-style: normal;
    }
  }
}

