@import '@/styles/variables.scss';

.badge {
  box-shadow: 0 4px 12px hsla(0, 0%, 100%, 0);
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  background-color: hsla(0, 0%, 100%, 0.16);
  border-radius: 4px 4px 4px 4px;
  box-sizing: border-box;
  display: inline-flex;
  height: 20px;
  padding: 2px 6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &_text {
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    height: 16px;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
