.wrap {
  margin: 0 auto;
  width: 100%;
  display: grid;
  gap: 16px;
}

.title {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  .amount {
    cursor: pointer;
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(var(--color-main), 0.16);
}

.cards {
  position: relative;
  display: grid;
  gap: 16px;
  max-width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 15px;
}

.link {
  transition: var(--transition-main);
  cursor: pointer;
  &:hover {
    color: var(--color-main);
  }
}
