@import '@/styles/variables.scss';

.alerts {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 1000;
  max-width: 35vw;
  @media screen and (max-width: 1160px) {
    bottom: calc(16px + 50px);
  }
}

.alert {
  position: relative;
  margin-bottom: 6px;
  backdrop-filter: drop-shadow(0 0 black);
  &.opening {
    -webkit-animation: fadein 0.3s linear forwards;
    animation: fadein 0.3s linear forwards;
  }
  &.closing {
    -webkit-animation: fadeout 0.3s linear forwards;
    animation: fadeout 0.3s linear forwards;
  }
  .close {
    position: absolute;
    right: 24px;
    top: 8px;
    button {
      margin: 0;
      padding: 0;
    }
  }
  &_wrapper {
    display: flex;
    flex-direction: column;
    background-color: #1f1b2e;
    background-image: linear-gradient(109.55825154deg, #1f1b2e, #312b45);
    padding: 25px;
    border-radius: 12px;
  }
  &_textBlock {
    max-width: 90%;
  }
  &_title {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: $color-input;
  }
  &_extra {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px;
  }
  &_extraPrimary {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: $color-gray-text;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
