.row {
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & p {
    margin-top: 32px;
    color: var(--color-gray-text);
    font-weight: 600;
  }
}
.icon {
  width: 80px;
  height: 80px;
  color: var(--color-gray-text);
}
