.modal {
  background: var(--color-background);
  display: none;
  width: 100%;
  padding: 0 var(--padding-container);
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;

  svg {
    width: 20px;
    height: 20px;
  }

  button {
    font-weight: 500;
  }
}

.menuItem {
  border-top: 1px solid rgba(var(--color-main), 0.16);
  padding: 34px 0;
  display: grid;
  gap: 24px;
  font-size: 15px;
  font-weight: 500;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 24px;

  span {
    display: block;
    font-size: 10px;
  }
}

.button {
  justify-content: start;
  gap: 15px;

  svg {
    color: #7e798f;
  }
}

.button_subscribe {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    box-shadow: 0 2px 8px rgba(var(--color-accent), 0.8);
    background-color: var(--color-accent);
    width: 10px;
    height: 10px;
    top: 8px;
    right: 8px;
    border-radius: 50%;
  }
}

.link {
  &:hover {
    color: rgba(var(--color-main), 0.72);
  }
}

.listLink {
  color: rgba(var(--color-main), 0.72);
  display: block;
  font-weight: 400;

  &:hover {
    color: var(--color-main);
  }
}

.list {
  display: grid;
  gap: 12px;
}

.flex {
  display: flex;
  gap: 12px;
  align-items: center;
}

.feedbackButtons {
  button {
    &:first-child {
      width: 65vw;
      justify-content: center;
    }

    &:not(:first-child) {
      padding: 0;
    }
  }
}

.social {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: flex-start;

  button {
    padding: 0;
  }
}

@media (max-width: 1160px) {
  .modal {
    display: block;
  }
}

@media (max-width: 600px) {
  .modal {
    padding: 70px 16px;
  }
  .buttons {
    grid-auto-flow: row;
  }
  .feedbackButtons {
    a {
      flex-basis: 100%;
    }

    flex-wrap: wrap;

    button {
      &:first-child {
        width: 100%;
      }
    }
  }
}
