@import '@/styles/variables.scss';

.bg_container {
  @media screen and (min-width: 1160px) {
    height: 0;
    padding-bottom: 62.5%;
    width: 100%;
  }
  @media screen and (min-width: 880px) and (max-width: 1159px) {
    height: 0;
    padding-bottom: 75%;
  }
  @media screen and (min-width: 600px) and (max-width: 879px) {
    height: 0;
    padding-bottom: 100%;
  }
  @media screen and (min-width: 512px) and (max-width: 599px){
    height: 0;
    padding-bottom: 120%;
  }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    height: 0;
    padding-bottom: 120%;
  }
  @media screen and (min-width: 392px) and (max-width: 511px) {
    height: 0;
    padding-bottom: 100%;
  }
  @media screen and (max-width: 391px) {
    height: 0;
    padding-bottom: 133.33333333%;
  }
  opacity: .32;
  transition: opacity 1s;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.watch {
  * {
    z-index: 1;
  }
  margin: 0 0 40px 0;
  .mobile_title {
    @media screen and (min-width: 1160px) {
      display: none;
    }
  }
  &__content {
  }
  &__row {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
      'a b'
      'a c';
    gap: 30px;
    margin: 30px 0;
  }
  &__player {
    flex: 1 1 auto;
    grid-area: a;
  }
  &__info {
    display: inline-block;
    grid-area: b;
  }
  &__title {
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 0 12px;
    text-align: center;
    @media screen and (max-width: 1160px) {
      display: none;
    }
  }
  &__params {
    margin-bottom: 20px;
    text-align: center;
  }
  &__medallions {
    margin-bottom: 20px;
  }

  &__rating {
    margin-bottom: 32px;
  }
}

.movie_options {
  color: hsla(0,0%,100%,.72);
  padding: 12px;
  margin-bottom: 20px;
  @media screen and (min-width: 600px) and (max-width: 1159px) {
    width: calc(100% / 3 * 2);
  }
  @media screen and (max-width: 599px) {
    width: 100%;
  }

  .watch__description {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    p {
      color: hsla(0,0%,100%,.72);
    }
  }
  .clause_bottom {
    display: block;
    .watch_options {
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;
      @media screen and (min-width: 1160px) {
        margin-bottom: 8px;
        margin-top: 32px;
        padding-bottom: 32px;
        padding-top: 16px;
        position: relative;
      }

      &_container {
        &:before {
          @media screen and (min-width: 1160px) {
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        &:after {
          @media screen and (min-width: 1160px) {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
          }
        }
        &:before, &:after {
          @media screen and (min-width: 1160px) {
            background-color: hsla(0,0%,100%,.16);
            content: "";
            height: 1px;
          }
        }
      }

      &__options {
        padding: 12px 0;
        & +.watch_options__options {
          @media screen and (min-width: 1160px){
            margin-top: 16px;
          }
          @media screen and (max-width: 1159px) {
            border-top: 1px solid hsla(0,0%,100%,.16);
          }
        }
        @media screen and (max-width: 1159px) {
          display: flex;
          justify-content: space-between;
        }
      }
      &__title {
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
      }
      &__value {
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: #fff;
        @media screen and (min-width: 1160px) {
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          display: block;
          display: -webkit-box;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          margin-top: 4px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &__title_narrow {
        color: hsla(0,0%,100%,.72);
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        @media screen and (min-width: 1160px){
          display: none;
        }
      }
      &__title_wide {
        color: hsla(0,0%,100%,.72);
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        span {
          color: hsla(0,0%,100%,.4);
        }
        @media screen and (max-width: 1160px){
          display: none;
        }
      }
      &__icons_list {
        display: flex;
        flex-wrap: wrap;
        height: 20px;
        justify-content: flex-end;
        margin-left: auto;
        overflow: hidden;
        @media screen and (min-width: 1160px) {
          justify-content: flex-start;
          margin-top: 8px;
        }
        .badge+.badge {
          margin-left: 8px;
        }
      }
    }
  }
  .clause_toggle {
    color: hsla(0,0%,100%,.88);
    cursor: pointer;
    font-size: 15px;
    font-style: normal;
    line-height: 22px;
    transition-duration: .4s;
    transition-property: transform,color;
    display: inline-block;
    margin-top: 8px;
    font-weight: 400;

  }
}


.info_list {
  color: hsla(0,0%,100%,.8);
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  .info_item {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    vertical-align: top;
    &:not(:first-child):before {
      content: "";
      display: inline-block;
      width: 8px;
    }
    &.item_hasDot:not(:first-child):before {
      display: inline-block;
      background-color: hsla(0, 0%, 100%, .72);
      content: "";
      height: 2px;
      margin-bottom: 3px;
      margin-left: 6px;
      margin-right: 6px;
      text-align: center;
      width: 2px;
    }
  }
  a {
    color: hsla(0,0%,100%,.72);
    transition: $time-main;
    &:hover:not(:active) {
      color: #fff;
    }
  }
}

.comments_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  .open {
    display: flex;
  }
}


.comments {
  h4 {
    border-bottom: 1px solid rgba($color-main, 0.16);
    display: inline;
    transition: $time-main;
    &:hover {
      cursor: pointer;
      border-bottom-color: $color-main;
    }
  }
}

@media (max-width: $pc) {
  .watch {
    &__row {
      grid-template-columns: 1fr;
      grid-template-areas:
        'c'
        'a'
        'b';
    }
  }
}
