.card {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 100%;
}

.img {
  object-position: 85% 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.img_container {
  position: relative;
  width: 1216px;
  height: 524px;

  @media screen and (max-width: 1140px) {
    height: 100%;
  }
  @media screen and (max-width: 660px) {
    aspect-ratio: 164/183;
    max-height: 500px;
  }
}

.information {
  overflow: hidden;
  height: 100%;
  bottom: 0;
  position: absolute;
  padding: 0 20px 10px;
  width: 100%;

  button {
    bottom: 10px;
    position: absolute;
  }

  @media screen and (max-width: 660px) {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: flex-start;
    justify-content: flex-end;
    button {
      display: none;
    }
  }
}

.synopsis {
  color: inherit;
  font-weight: 500;
  margin-top: 5px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  bottom: 0;
  position: absolute;
  padding-bottom: 70px;
  max-width: 30%;
  text-align: start;
  @media screen and (max-width: 660px) {
    max-width: 80%;
    min-height: 40%;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
    backdrop-filter: blur(12px);
  }
}

.logo_img {
  display: flex;
  align-items: center;
  max-width: 384px;
  object-fit: contain;
  position: static !important;
  max-height: 60%;
}

.logo {
  position: relative;
  @media screen and (max-width: 1140px) {
    bottom: 15%;
    .logo_img {
      max-height: 130px !important;
    }
  }
}
