.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title_container {
  display: flex;
}

.list {
  padding: 10px 0;
  display: flex;
  max-height: 170px;

  &__wrap {
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-basis: calc(90% - 88px);
    @media (max-width: 600px) {
      flex-basis: calc(80% - 88px);
      // flex-basis: 70%;
      gap: 5px;
    }
  }
}

.link {
  display: grid;
  gap: 10px;

  &:hover {
    .name {
      color: var(--color-main);
    }
  }
}

.card {
  position: relative;
  width: 88px;
  height: 88px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  .img {
    position: relative;
    width: 88px;
    height: 88px;

    img {
      object-fit: cover;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-submenu-background);
    color: #a5a1b2;
    transition: var(--transition-main);

    &:hover {
      cursor: pointer;
      color: var(--color-main);
    }
  }
}

.name {
  font-size: 13px;
  color: #d9d7e0;
  transition: var(--transition-main);
  line-height: 16px;
  font-weight: 500;
}
