.modal {
  position: absolute;
  top: 0;
  left: 0;

  &__open {
    display: inline-flex;
    justify-content: center;
    padding: 50px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(7, 5, 14, 0.96);
    z-index: 1000;
    @media (max-width: 600px) {
      padding: 25px;
    }
  }
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  color: white;
  opacity: 0.7;
  transition: var(--transition-main);

  &__icon {
    width: 30px;
    height: 30px;
  }

  &:hover {
    opacity: 1;
  }

  &:hover .back__icon {
    transform: scale(1.1);
  }
}

.wrap {
  max-width: 90vw;
  display: grid;
  grid-auto-flow: column;
  gap: 150px;
  box-sizing: content-box;
  margin: 0 20%;
  padding: 50px 0;
  justify-items: start;
  justify-content: space-between;
  grid-auto-columns: 3fr 1fr;
  @media (max-width: 600px) {
    margin-top: 30px;
    padding: 25px 0;
  }
}

.tabs {
  max-width: 90vw;

  &__title {
    display: flex;
    gap: 20px;
    padding-top: 15px;
    border-bottom: 2px solid rgba(var(--color-main), 0.16);
    @media screen and (max-width: 600px) {
      font-size: 13px;
    }
    @media screen and (max-width: 400px) {
      font-size: 11px;
    }
  }

  &__content {
    width: 60vw;
    margin: 30px 0;
    @media screen and (max-width: 1160px) {
      width: 90vw;
    }
  }
}

.active {
  transition: var(--transition-main);
  box-shadow: 0 4px 0 0 var(--color-accent);
}

.tab {
  display: block;
  cursor: pointer;
  padding-bottom: 16px;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.tab__container {
  display: flex;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}


.graphs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;

  span {
    font-size: 24px;
    font-weight: 700;
  }

  &__wrap {
    width: 20px;
  }
}
