.sources {
  display: flex;
  flex-direction: column;
}

.source_item {
  display: flex;
  transition: var(--time-main) all ease-in;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 12px;
  overflow: hidden;
}

.text {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  display: -webkit-box;
  overflow: hidden;
  width: 120px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.carousel_item {
  padding: 30px 12px 0;
  transition: var(--time-main) all ease-in;
  &:hover {
    transform: scale(1.1) translateY(-5%);
    .text {
      color: white;
    }
  }
}
